<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Processing</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Insightful Echo</h1>
        </header>
        <main>
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="upload-section">
                    <input type="file" name="file" id="videoUpload" accept="video/*">
                    <!-- <label for="videoUpload" class="upload-button">Upload Video</label> -->
                    <button type="submit" class="generate-button">Generate Video</button>
                </div>
            </form>

            <div class="processing-section" id="processingSection" style="display: none;">
                <div class="loader"></div>
                <p>Processing...</p>
            </div>

            <div class="download-section" id="downloadSection">
                <!-- Directly link to the download route -->
                <a href="/download" download>
                    <button class="download-button">Download Processed Video</button>
                </a>
            </div>
        </main>
    </div>

    <script>
        // Attach the event listener to the form submission
        document.querySelector('form').addEventListener('submit', function (event) {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Check if a file has been selected
            var fileInput = document.getElementById('videoUpload');
            if (fileInput.files.length > 0) {
                // Show processing section
                document.getElementById('processingSection').style.display = 'block';

                // Submit the form
                event.target.submit();

                // After submitting, wait for some time before checking for the processed file
                // Adjust the timeout as per the expected processing time
                setTimeout(function () {
                    checkForProcessedFile(fileInput.files[0].name);
                }, 10000); // 10 seconds wait after upload before starting to check
            }
        });
    </script>

</body>

</html>